@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');
body{
    font-family: 'DM Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
      text-decoration: none;
      list-style: none;
}
/* FIRST SECTION DESIGN */

.firstsec{
    background: #F6F3EB;
    height: 800px;
    width: 100%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    
}
.logo{
    margin-left: 135px;
}
.logo h1{
    color: #314D4A;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    padding: auto;
}
.nav li{
    width: 97px;
    text-align: center;

}

.nav a{
    text-decoration: none;
    color: #646D6C;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    width: 96px;
}
.nav a:hover{
    color: #0A8270;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    width: 96px;
}
.button{
    display: flex;
    align-items: center;
    margin-right: 135px;
}
.button button{
    width: 108px;
    height: 48px;
    flex-shrink: 0;
    background: #0A8270;
    border: none;
}
.button button a{
    text-decoration: none;
    color: #FCFEFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
    }
.fcontent{
        display: flex;
        margin-right: 135px;
        margin-left: 135px;
        margin-top: 60px;
        justify-content: center;

    }
.ftext h1{
        color: #314D4A;
        font-size: 70px;
        font-style: normal;
        font-weight: 700;
        line-height: 80px; 
        letter-spacing: -1.4px;
        margin-bottom: 0;
    }
.ftext p{
        color: #646D6C;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        
    }

/* SECOND SECTION DESIGN     */

.secondsec{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.secondsec .scontent{
    display: contents;
    align-content: center;
}
.scontent h1{
    color: #314D4A;
    text-align: center;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; 
    letter-spacing: -0.84px;
    margin-bottom: 0;
    margin-top: 0;
}
.scontent p{
    width: 464px;
    color: #646D6C;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 16px;
}
.sboxes{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin-left: 135px;
    margin-right: 135px;
    margin-top: 70px;
}
.sboxes .sbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 337px;
    border: 2px solid white;
}
.sboxes .sbox:hover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 337px;
    border: 2px solid #0A8270;
    flex-shrink: 0;
}
.sbox h2{
    color: #314D4A;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    
}
.sbox p{
    width: 314px;
    color: #646D6C;
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

/* THIRD SECTION DESIGN */

.thirdsec{
    width: 100%;
    height: 1722px;
    background: #F6F3EB;
    
}
.thirdsec .ttext{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}
.ttext1{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 96px 0px 0px 138px;

}
.ttext1 h2{
    color: #314D4A;
    font-family: DM Sans;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; 
    letter-spacing: -0.84px;
    width: 359px;
    margin: 0;
}
.ttext p{
    width: 464px;
    color: #646D6C;

    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.ttextbtn{
    width: 50%;
    display: flex;
    text-align: end;
    justify-content: flex-end;
    align-content:flex-end;
    margin: 246px 150   px 0px 0px;
}
.ttextbtn a{
    text-decoration: none;
    color: #0A8270;
    text-align: right;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}
.tcontent{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 3px;
    padding-top: 70px;
}
.tcontent .tc1{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
    justify-items: flex-end;
    margin-left: 130px;
    padding: 0;
}
.tcontent .tc2{
    display: flex;
    flex-direction: column-reverse;
    align-content: flex-start;
    justify-content: flex-start;
    justify-items: flex-start;
    margin-right: 130px;
    padding: 0;
}

.tcontent h2{
    color: #314D4A;

font-family: DM Sans;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 36px;
}
.tcontent p{
    width: 421px;
color: #646D6C;

font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
padding-bottom: 65px;
}
.tcontent .timage1{
    width: 450px;
height: 536.171px;
flex-shrink: 0;
    
}
.tcontent .timage2{
    width: 535px;
height: 354.789px;
flex-shrink: 0;

}